<ul class="add_event_form">
    <div id="left">
        <li>
            <input type="text" id="event_name" class="k-textbox" placeholder="Name" />
        </li>
        <li>
            <textarea id="event_description_input" class="k-textbox" placeholder="Description"></textarea>
        </li>
        <li>
            <input id="event_type" class="k-item" /></li>
        <li>
            <input type="text" id="event_hashtags" class="k-textbox" placeholder="External Hashtags" />
        </li>
        <li>
            <input type="button" class="upload_event_picture" value="Upload event picture">
            <input type="file" id="eventPhotoFileUpload">
        </li>
    </div>
    <div id="right">
        <div id="map-canvas"></div>
    </div>
    <div id="cleared"></div>
    <div id="date_wrapper"

         <li>
            <input id="startdatepicker" style="width: 250px;" placeholder="Start Date"/>
        </li>

        <div id="rightdate">
            <li>
                <input id="enddatepicker" style="width: 250px;" placeholder="End Date"/>
            </li>
        </div>
    </div>
    <div id="wrong_dates"></div>
    <div id="start_date_inpast"></div>
    <div id="start_date_missing"></div>
    <div id="end_date_missing"></div>
    <div id="submit_button">
         <li>
            <button id="submit_event" class="k-button">Submit</button>
        </li>
    </div>
</ul>
