
<div id="event_header">


</div>
<div id="event_description">
    
</div>

<div id="event_location">

</div>

<div id="add_new_status">
    
    <textarea class="text_status" placeholder="Do you want to join? Feel free to share it with us..."></textarea>
    <div class="add_instruments hide">
        <img class="add_image_icon" src="images/add_image.png" alt="">
        <input type="file" class="add_image_input"/>
        
        <input type="button" class="add_status_button button-success pure-button" value="ADD STATUS"/>
    </div>
</div>
<div id="missing_status_input_notification"></div>
<div class="event_statuses">
    <div id="status_comments">
    </div>

</div>



